@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham Bold';
  src: url('/fonts/gotham/GothamBold.ttf');
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('/fonts/gotham/GothamMedium.ttf');
}

@font-face {
  font-family: 'Gotham Light';
  src: url('/fonts/gotham/GothamLight.ttf');
}

@layer components {
  .sidebar {
    @apply absolute z-30 top-0 right-0 bottom-0 w-60 md:w-96 overflow-hidden;
  }

  .sidebar--background {
    @apply opacity-50 absolute top-0 right-0 bottom-0 w-60 md:w-96 bg-red-700;
  }

  .sidebar--list {
    @apply absolute p-5 top-24 w-fit;
  }

  .sidebar--list-item {
    @apply flex items-center mb-8 space-x-6;
  }

  .social--icon-container {
    @apply w-8 h-8 flex justify-center items-center;
  }

  .social--icon {
    @apply w-6 h-6 relative z-50 brightness-50 group-hover:scale-125 group-active:scale-75 group-hover:brightness-90 fill-white group-hover:fill-primary duration-300;
  }

  .container {
    @apply flex items-end justify-center my-0 mx-[10px] h-[60px] w-fit;
  }

  .bar {
    @apply h-[4px] w-[8px] bg-white m-[2px] animate-sound;
  }

  .stopped-bar {
    @apply h-[4px] w-[8px] bg-white m-[2px];
  }

  .bar:nth-child(2) {
    animation-delay: 0.36s;
  }

  .bar:nth-child(3) {
    animation-delay: 0.12s;
  }

  .bar:nth-child(4) {
    animation-delay: 0.24s;
  }

  .bar:nth-child(5) {
    animation-delay: 0.48s;
  }
}
